.apiSection__primaryHeading{
    font-size: 2em;
    text-align: center;
    padding-bottom: 5rem;
    color: var(--heading-page-color);
}

.apiSecondHeading{
    color: white;
    font-size: 2em;
    padding-bottom: 1em;
}

.apiThirdHeading{
    color: white;
    font-size: 1.5em;
    padding:1em 0 0.5em 0;
}
.apiTrailer{
    color: white;
    text-decoration: underline;
    text-align: center;
    font-size: 1.5em;
}

.apiHeading{
    font-size: 3em;
    text-decoration: underline;
    text-align: center;
}

.apiHeading__link{
    color: white;
}

.apiInfo{
    padding-top: 1em;
    text-align: unset;
}

.apiArticle{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10em;
}

.apiSynopsis{
    padding-bottom: 3em;
}

.apiScore{
    font-size: 2em;
    text-align: center;
}

.apiImg{
    max-width: 80%;
}

@media only screen and (min-width: 768px) {
    .apiSection__primaryHeading{
        font-size: 5em;
    }
    .apiHeading{
        font-size: 4em;
    }
}