.apiSection__primaryHeading{
    font-size: 2em;
    text-align: center;
    padding-bottom: 5rem;
    color: var(--heading-page-color);
}

.apiSecondHeading{
    color: white;
    font-size: 1.5rem;
    padding-bottom: 1rem;
}

.apiThirdHeading{
    color: white;
    font-size: 1.5em;
    padding:1em 0 0.5em 0;
}
.apiTrailer{
    color: white;
    text-decoration: underline;
    text-align: center;
    font-size: 1.5em;
}

.apiHeading{
    text-decoration: underline;
    text-align: center;
}

.apiHeading__link{
    color: white;
    font-size: 3rem;
}

.apiInfo{
    padding-top: 1em;
    text-align: unset;
    font-size: 1rem;
}

#searchBar{
    margin: auto auto 2rem auto;
    display: flex;
    border-radius: 24px;
    padding-left: 0.5em;
    outline: 0;
    background-color: rgb(189, 189, 189);
    border: none;
}

.apiArticle{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3em;
    padding: 2em;
    border: var(--main-page-color) 3px solid;
    border-radius: 50px;
    background-color: rgb(39, 39, 39);
}

.apiSynopsis{
    padding-bottom: 1rem;
    font-size: 0.8rem;
}

.apiScore{
    font-size: 1rem;
    text-align: center;
}

.apiImg{
    max-width: 200px;
}

@media only screen and (min-width: 768px) {
    .apiSection__primaryHeading{
        font-size: 3rem;
        padding-bottom: 2rem;
    }
}