.arrivalsSection{
    margin-bottom: 5em;
}

.slider__img{
    max-width: 100%;
    height: 25vh;
    transition: opacity 100ms ease;
    opacity: 1;
}

.nextBtn, .prevBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    height: 2em;
    width: 2em;
    text-align: center;
    color: white;
    user-select: none;
    background-color: var(--main-page-color);
    font-size: 1.3rem;
    border-radius: 24px;
    cursor: pointer;
    transition: all ease 0.3s;
    border: 0;
}

.sliderBtns{
    display: flex;
    justify-content: space-around;
    padding:2em 3em 0 3em;
}

.arrivalsSection__heading{
    font-size: 2.5em;
    padding-bottom: 1em;
    color: var(--heading-page-color);
}

.slider__img--fade{
opacity: 0;
}