.landingSection__heading{
    font-size: 3em;
    padding-top: 1em;
    color: var(--heading-page-color);
}

.landingSection__description{
    opacity: 70%;
    margin: 2em 0 2em 0;
}

.landingSection__img{
    max-width: 100%;
    margin: 3em 0 3em 0;
}