
/*BURGER MENU*/
 #check:checked + .navigation__list{
    display: flex;
    flex-direction: column;
} 
#check{
    display: none;
} 
.check-label{
    color: white;
}

.navigation__list{
    display: none;
}
/* BURGER MENU SLUT */

.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 0 1em 0
}

.navigation__img{
    max-width: 20vw;
}

.navigation__link{
    color: white;
}

@media only screen and (min-width: 768px) {
    .navigation__list{
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        padding: 1em 5em 1em 5em;
    }

    .check-label{
        display: none;
    }
}