.videoSection__heading{
    font-size: 3em;
    color: var(--heading-page-color);
}

.videoSection__description{
    opacity: 70%;
    margin: 2em 0 2em 0;
}

.videoSection__video{
    width: 100%;
    height: 23vh;
    
}