.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
}

.footer small{
    font-size: 1em;
}

.footer__navItem{
    padding-bottom: 3em;
}

.footer__navLink{
    color: white;
}

.footer__logo{
    justify-content: center;
}

@media only screen and (min-width: 768px) {
    .footer__navList{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    
    .footer__navItem{
        padding: 0;
    }

    .footer{
        display:block;
        padding:3em 0 3em 0;
    }
}